:host{
display: flex;
position: fixed;
left: 0px;
right: 0px;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
background-color: rgba(0,0,0,0.0); 
z-index: 1;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
    background-color: #0EBBF7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button[type=submit]:hover {
  background-color: #698ff7;
}

.container {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: flex;
    flex-direction: column;

}
  
  .header {
    border: 1px solid red;
    padding: 15px;
  }
  

  .form-container {
    padding: 15px;
  }
.row {
  display: flex;
  gap: 15px;
}

  // .row::after {
  //   // content: "";
  //   // clear: both;
  //   // display: table;
  // }
  
  // [class*="col-"] {
  //   // float: left;
  //   // padding: 15px;
    
  // //  margin:1px;
  // }
  
  @media only screen and (max-width: 768px) { 
    /* For mobile phones: */ 
    [class*="col-"] { 
    width: 100%; 
    } 
  } 
  * {
    box-sizing: border-box;
  }
  @media (min-width: 668px) 
  {  
       //html, body { margin: 72px; background-color: #000; } 
      //h1 { font-size: 60px; color: #FFF; } 
  //	p { font-size: 30px; color: #F00; } 
  } 
  @media (max-width: 667px) 
  { 
      //html, body { margin: 36px; background-color: #F00; } 
      //h1 { font-size: 36px; color: #000; } 
      //p { font-size: 24px; color: #FFF; } 
  } 
  @media (max-width: 375px) 
  { 
      //html, body { margin: 12px; background-color: #FFF; } 
      //h1 { font-size: 24px; color: #F00; } 
      //p { font-size: 16px; color: #000; } 
  } 
  @media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .title{
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 3px 16px;
    font-weight: 400;
    height: 100%;
    padding: 20px;
    
  }
  #cancel{
    background-color: #e7e7e7; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
   
  }
.sumbit-container{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}