
* {
    box-sizing: border-box;
  }
  
  .header {
    border: 1px solid red;
    padding: 15px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

  
  @media only screen and (max-width: 768px) { 
    /* For mobile phones: */ 
    [class*="col-"] { 
    width: 100%; 
    } 
  } 
  * {
    box-sizing: border-box;
  }
  @media (min-width: 668px) 
  {  
       //html, body { margin: 72px; background-color: #000; } 
      //h1 { font-size: 60px; color: #FFF; } 
  //	p { font-size: 30px; color: #F00; } 
  } 
  @media (max-width: 667px) 
  { 
      //html, body { margin: 36px; background-color: #F00; } 
      //h1 { font-size: 36px; color: #000; } 
      //p { font-size: 24px; color: #FFF; } 
  } 
  @media (max-width: 375px) 
  { 
      //html, body { margin: 12px; background-color: #FFF; } 
      //h1 { font-size: 24px; color: #F00; } 
      //p { font-size: 16px; color: #000; } 
  } 
  @media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }
  .col-1 {width: 8.33%;}
  // .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
   
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 13px 15px;
  }
  input[type=submit] {
    background-color: rgba(4, 127, 170, 0.6784313725);
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 20px;
  }
  
  input[type=submit]:hover {
    background-color:rgb(4 120 170);
  }
  .pagination {
    display: inline-block;
    
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    // text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    // text-align: center;
    cursor: pointer;
    // width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card img{
    float: left;
  }
  
  
  // a {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   z-index: 1;
  // }
  
  .mobile-wrapper {
    margin-top: 50px;
    max-width: 400px;
  
  }
  
  .mobile-wrapper article {
    grid-template-columns: 60px auto;
    grid-template-rows: 35px 25px auto 40px;
    width: calc(100% - 32px);
    padding: 16px;
  }
  
  .mobile-wrapper .company-logo-img {
    grid-area: 1 / 1 / 3 / 2;
    height: 60px;
    width: 60px;
  }
  
  .mobile-wrapper .job-title {
    grid-area: 1 / 2 / 2 / 2;
    padding: 8px 16px 0 16px;
  }
  
  .mobile-wrapper .company-name {
    grid-area: 2 / 2 / 3 / 2;
    padding: 0 16px;
  }
  
  .mobile-wrapper .skills-container {
    grid-area: 3 / 1 / 4 / 3;
    padding: 16px 0;
  }
  
  .mobile-wrapper .btn-container {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
  }
  
  .mobile-wrapper .btn-container button {
    height: 38px;
    flex: 1;
    width: 0;
  }
  
  .mobile-wrapper .btn-container .apply {
      margin-right: 10px;
  }
  
  ul {
    margin: 12px;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 320px;
    li {
      margin: 16px 0;
      position: relative;
    }
  }
  .job-container{
    background-color: rgb(189 184 184 / 11%);
    flex:1;
    padding: 15px;
    
  }
  .filter-container{
    border: 1px solid #00000033;
    padding: 1vh 5vh 35vh;
    height: 100%;
    margin-right: 20px;
  }
  .filter-container h1{
  // font-size: 2vh !important;
    font-family: arial;
  }
 
  .search-container{
    position: relative;
    display: flex;
    margin-bottom: 20px;
    gap: 15px;

  }
  .row{
    display: flex;
  }